body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(80, 80, 80);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.content {
    width: 100vw;
    padding: 2vw;
}

.img_wrapper_home {
    position: relative;
    top: 0%;
    left: 0%;
    opacity: 1;
    margin-bottom: 20px;
}

.img_wrapper_home img {
    width: 100vw;
    object-fit: contain;
}

.language_icons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.5); */
}

.lang-btn {
    margin-bottom: 3vw;
    border: white 2px solid;
    border-radius: 10%;
    /* color: white; */
    cursor: pointer;
    font-size: 4rem;
    padding: 2px;
    transition: all 0.3s ease;
}

.lang-btn:hover {
    transform: scale(1.1);
}

.txt_home_1 {
    position: absolute;
    top: 0;
    width: 100vw;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.8rem;
    padding-top: 1.5rem;
}

.section {
    margin: 0vw 5vw 5vw 5vw;
    border-bottom: 1px solid black;
    padding-bottom: 5vw;
}

.number {
    font-size: 2rem;
    font-weight: bold;
    width: 10vw;
    height: 10vw;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2vw;
    padding-left: 2vw;
}

.card {
    margin-bottom: 2vw;
    font-size: 1.2rem;
    background-color: rgba(255, 166, 0, 0.247);
    border-radius: 20px;
    padding: 3vw;
}

.slogan_section {
    margin: 0vw 5vw 5vw 5vw;
    border-bottom: 1px solid black;
    padding-bottom: 5vw;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: orange
}

.footer {
    margin: 0vw 5vw 5vw 5vw;
    background-color: #7d2383;
    color: white;
    border-radius: 20px;
    padding: 3vw;
}

.logo_wrapper {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 50%;
    margin: 0 auto;
}

.logo_wrapper img {
    width: 20vw;
    height: 20vw;
}


.title_13 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: center;
}

.text_13_1 {
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.social {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.social img {
    width: 50px;
    height: 50px;
}

.contact_text {
    background-color: transparent;
    padding: 10px;
}

.contact_text a {
    color: white;
}

.text_13_2 {
    font-size: 2rem;
    white-space: nowrap;
    text-align: center;
    font-style: italic;
}